<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candy-Yarn</title>
    <link rel="icon" type="image/jpeg" href="https://images.prom.ua/2899269739_w200_h100_candy-yarn-.jpg">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <!-- <link rel="stylesheet" href="/index.css"> -->
</head>
<body>
    <img src="https://images.prom.ua/2899269739_w200_h100_candy-yarn-.jpg" alt="Логотип" style="display: block; margin: 0 auto;">
    <h2>Форма авторизации</h2>
    <form action="/login" method="POST">
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Email" required><br>
        
        <label for="password">Пароль:</label>
        <input type="password" placeholder="Пароль" id="password" name="password" required><br><br>
        
        <button type="submit">Войти</button>
    </form>
    <p>Нет аккаунта? <a href="/register">Зарегистрироваться</a></p>
</body>
</html>
